#cuentaAtras{
    background-color: #5DEACC;
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 3px;
    height: 50px;
    width: 200px;
    font-weight: bold;
}

body{
    background-image: radial-gradient(circle at 50% -20.71%, #fff56b 0, #fff866 6.25%, #fdfa63 12.5%, #e7fb61 18.75%, #d0fb62 25%, #b5fa65 31.25%, #97f86a 37.5%, #73f670 43.75%, #3cf278 50%, #00ee82 56.25%, #00ea8f 62.5%, #00e69d 68.75%, #00e2ad 75%, #00dfbe 81.25%, #00dbd1 87.5%, #00d8e3 93.75%, #00d6f6 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

input{
    margin: 5px;
    cursor: text;
    background-color:#5DEACC;
    border: 0px solid white;
    border-radius: 4px;
    padding: 5px;
}

button{
    padding: 5px;
    background-color: #00e2ad;
    border: solid 0px white;
    border-radius: 4px;
    font-family: monospace;
    font-weight: bolder;
    text-align: center;
    color: white;
    cursor: pointer;
}

html, body{
    height: 100%;
}